<% if items.any? %>
    <ul>
        <% items.each do |item| %>
            <li>
                <p>アイテム名：<%= item.name %></p>
                <p>残日数：<%= item.zanbi %></p>
                <% if current_user == item.user %>
                   <%= link_to "削除", item, method: :delete, data: {confirm: "You sure?" } %>
                <% end %>
            </li>
        <% end %>
    </ul>
<% end %>