<% if items.any? %>
    <table class="table">
        <tr>
            <th>食材</th>
            <th>残日数</th>
            <th></th>
        </tr>
        <% items.each do |item| %>
        <tr>
            <th><%= item.name %></th>
            <th><%= item.zanbi %></th>
            <th><% if current_user == item.user %>
                   <%= link_to "削除", item, method: :delete, data: {confirm: "You sure?" } %>
                <% end %></th>
        </tr>
        <% end %>
    </table>
    <% end %>